<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<meta charset="utf-8"/>
</head>
<body>

	<div class="cabecera-tabla">

		<div class="logo"><img src="RecursosGraficos/Logo.png"></div>
	</div>

	<div class="barra-navegacion">
		<span > <a class="opcion" href="desconectar.html">DESCONECTAR</a> </span>
		<span > <a class="opcion" href="unirse_partida.html">UNIRSE A PARTIDA</a> </span>
		<span > <a class="opcion" href="nueva_partida.html">CREAR PARTIDA</a> </span>
	</div>


	<div class="contenido">
		<div class="titulo"> Hasta luego! </div>
		Esperamos volver a verte pronto </br>
		<img src="RecursosGraficos/despedida.png">
	</div>
	
</body>
</html>