<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="stylesheets/style.css"/>
	<meta charset="utf-8"/>
</head>
<body>

	<div class="cabecera-tabla">

		<div class="logo"><img src="/images/Logo.png"></div>
			<div class="logueo"> <p>No estás conectado.</p>  </div>
	</div>

	<div class="barra-navegacion">
		<span > <a class="opcion" href="login.html">LOGIN</a> </span>
		<span > <a class="opcion" href="registro.html">NUEVO USUARIO</a> </span>
	</div>

	<div class="contenido">
		<div class="titulo"> Bienvenido! </div>
		<div>Puedes identificarte o crear una nueva cuenta de usuario</div>
	</div>

</body>
</html>